.section-about,
.section-skills,
.section-courses {
    padding-left: 3rem;
    padding-right: 3rem;

    .row > * {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.section-about {
    background-color: $color-grey-light-1;
    margin-top: -30rem;
    padding: 30rem 0;
    @include medium-devices() {
        padding: 20rem 0;
    }
    @include small-devices() {
        padding: 17rem 0;
    }
}

.section-skills {
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url("../img/background2.jpg");
    background-size: cover;
    clip-path: ellipse(70% 50% at 50% 50%);
    margin-top: -20rem;
    padding: 20rem 0;
    @include medium-devices() {
        clip-path: ellipse(85% 45% at 50% 50%);
    }
    @include small-devices() {
        clip-path: ellipse(90% 45% at 50% 50%);
    }
}

.section-courses {
    margin-top: -20rem;
    padding-top: 25rem;
    padding-bottom: 10rem;
    background-color: $color-grey-light-1;
    @include medium-devices() {
        padding-top: 17rem;
        .row {
            max-width: 50rem;        
        }
    }
    .row {
        margin-bottom: 8rem;
    }
}

.section-testimonials {
    position: relative;
    padding: 5rem 0;
}

.section-enroll {
    background-image: linear-gradient(
        to right bottom,
       $color-primary-light,
        $color-primary-dark
    );
    padding: 10rem 6rem;
}
